<main>
  <div class="container">
    <nav class="navbar">
      <img src="../assets/img/AppMercado.png" alt="Logo Mercado" id="logo">
      <fa-icon [icon] = cartShopping></fa-icon>
    </nav>
    <h1>Lista Mercado</h1>
    <p>Tudo que você precisa você encontra aqui! </p>
    <ul>
      <li *ngFor="let tab of tabs">
        <a href="#" (click)="openTab(tab)">{{tab}}</a>
      </li>
    </ul>
    <app-lista-mercado [tab] = "selectedTab"></app-lista-mercado>

    <footer class="footer">
      <h5>Desenvolvido por Lucas Scudeler Oliveira</h5>
      <h5>rev 1</h5>
    </footer>
  </div>
</main>
